<div id="assignment" class="assignment-content" style="display: none;">
    <% if user_signed_in? %>
        <% current_user.friends.each do |friend| %>
                <div>
                    <%=friend.email %>
                    <% assign = Assignment.find_by(question_id: question.id, assigner_id: current_user.id, assignee_id: friend.id) %>
                    <%if assign.nil? %>
                        <%= link_to 'Assign', "assignments/#{friend.id}/#{question.id}", method: :post %>
                    <% else %>
                        <%= link_to 'De-assign', "/assignments/#{assign.id}", method: :delete %>
                    <% end %>
                </div>
        <% end %>
    <% end %>
</div>

<script>
    $(document).ready(function() {
        $(".btn-assign").on('click', function() {
            if($(this).siblings(".assignment-content").is(':visible')){
                $(".assignment-content").hide();
            }
            else {
                $(".assignment-content").hide();
                $(this).siblings(".assignment-content").show();
            }
        });      
    });
</script>

