<div class="background">
    <div class="intro-container">
        <div class="intro-box">
            <div class="prism">prism</div>
            <div class="beer">우리들의 온라인 맥주집.</div>
            <div class="start-1"><a href="/">시작하기</a></div>
            <div class="start-2">
                <a href="users/sign_in">Log in</a>
                <a href="users/sign_up">Sign up</a>
            </div>
        </div>
    </div>
</div>