<%#= link_to "repost", custom_question_repost_path(ancestor_id) %>
<%#= link_to "repost with message", custom_question_message_path(ancestor_id) %>
<div class = "reposts">
    <%= link_to image_tag("icons/repost-icon", :class => "btn-repost"),
    custom_question_message_path(ancestor_id) %>
</div>