<div class="inner-container">
    <div class="prism-title"><h1>공지사항</h1></div>
    <% @published_announcements.each do |a| %>
        <div class="prism-box">
            <div class="prism-box__content"><br>
                <div class="announcement-title"><%= a.title %></div>
                <div class="answer"><%= a.content %></div><br><br>
                <div class = "date time"><%= time_tag a.published_at %></div>
            </div>
            <%= render 'comments/general_form', user: current_user, feed: a %>
        </div>
    <% end %> 
</div>

<script>
    $('body').trigger('click'); 
</script>