<% anonymous = @anonymous%>
<div class="inner-container">
    <%= render partial: "profiles/layout", locals: {user: @user} %>
    <div id='infinite-drawers'>
        <%= render partial: 'profiles/my_drawers', locals: {drawers: @drawers} %>
    </div> 
</div>

<script>
    $('body').trigger('click');
</script>