<div class="inner-container">
<%= render partial: "profiles/layout", locals: {user: @user} %>
    <% if !@user.friends.include? current_user and @user.id != current_user.id %>
        <%= @user.username %>님과 친구가 되어보세요.
    <% else %>
        <div id='infinite-feeds'>
            <%= render partial: 'profiles/my_feeds', locals: {feeds: @feeds} %>
        </div> 
    <% end %>
</div>

<script>
    $('body').trigger('click');
</script>