<div class="inner-container">
  <div class="prism-box-new-post">
    <div class="prism-box__content">
      <div class = "posting-or-custom-question">
        <span class = "posting selected"> 포스팅 </span>
        <span class = "custom-question"> 질문 </span>
      </div>  
      <%= render 'posts/new'%>
      <%= render 'custom_questions/new'%>
    </div>
  </div>
  <%= render partial: 'feeds/friends_index', locals: {feeds: @feeds} %>
</div>

<script>
  check_channels($(".answer-button"))
  textarea_init($('#new-post-form').find("textarea"), window)
  textarea_init($('#new-custom-question-form').find("textarea"), window)
  toggle_channels_dropdown($(".channels-dropdown"))

  $(".posting").on('click', function () {
    var selected = $(this);
    $(this).addClass("selected");
    $('.custom-question').removeClass("selected");
    $('#new-post-form').show();
    $('#new-custom-question-form').hide();
  })

  $(".custom-question").on('click', function () {
    var selected = $(this);
    $(this).addClass("selected");
    $('.posting').removeClass("selected");
    $('#new-custom-question-form').show();
    $('#new-post-form').hide();
  })
</script>
<script>
  $(".btn-comment").on('click', function() {

    $(this).parents(".comment-replies-form").find("form").show()
    if($(this).parents().hasClass("reply")) {
      console.log("ho")
      // 
      // let tag = $('<input type="hidden" name="target_author_id" id="id" value="${data.id}">')
    }
  })
  
</script>
