<div class="inner-container">
  <div class="prism-box-new-post">
    <div class="prism-box__content">
      <div class = "posting-or-custom-question">
        <span class = "posting selected"> 포스팅 </span>
        <span class = "custom-question"> 질문 </span>
      </div>  
      <%= render 'posts/new'%>
      <%= render partial: "custom_questions/new", locals: {custom_question: CustomQuestion.new} %>
    </div>
  </div>
  <%= render partial: 'feeds/friends_index', locals: {feeds: @feeds} %>
</div>

<script>
  check_channels($(".answer-button"))
  autosize($("textarea"))
  toggle_channels_dropdown($(".channels-dropdown"))

  $(".posting").on('click', function () {
    var selected = $(this);
    $(this).addClass("selected");
    $('.custom-question').removeClass("selected");
    $(this).parent().parent().parent().removeClass("custom-question-form");
    $(this).parent().parent().removeClass("custom-question-form");
    $('#new-post-form').show();
    $('#new-custom-question-form').hide();
  })

  $(".custom-question").on('click', function () {
    var selected = $(this);
    $(this).addClass("selected");
    $(this).parent().parent().parent().addClass("custom-question-form");
    $(this).parent().parent().addClass("custom-question-form");
    $('.posting').removeClass("selected");
    $('#new-custom-question-form').show();
    $('#new-post-form').hide();
  })
</script>
<script>

  $("#tags input").on({
    focusout : function() {
      var txt = this.value.replace(/[\<\>\,\r\n\;\\]/ig,''); // allowed characters
      // console.log(txt)
      if(txt.trim()!=''){
        let tag = $("<span/>", {text:txt.trim(), insertBefore:this, addClass:'tag'});
        tag.append(`<img src="/assets/icons/close-default-icon.png" alt="Exit Icon" class="tag-close">`)
        
        tag.find(".tag-close").on('click', function() {
          tag.remove(); 
        });
      }

      this.value = "";
    },
    keyup : function(e) {
      // if: comma|enter (delimit more keyCodes with | pipe)
      if(/(188|13)/.test(e.which)) $(this).focusout(); 
    }
  });

  $(".new_custom_question").submit(function(e) {
    e.preventDefault();
    form = $(this)

    var tag_string = ""
    $("#tags").find(".tag").each(function() {
      tag_string += $(this).text() + '\r\n'
    })

    form.find("#custom_question_tag_string").val(tag_string)

    $.ajax({
        type: "POST",
        url: form.attr('action'),
        data: form.serialize(),
        success: function(data) {
            console.log("successed!")
        },
        error: function(data) {
            console.log("error!")
        }
    })
  })
</script>

