<div class="inner-container">
  <% if @feeds.count() > 0 %>
    <div id='infinite-feeds'>
      <%= render partial: 'feeds/general_index', locals: {feeds: @feeds} %>

    </div>
  <% else %>
    <div>아직 공유된 게시물이 없습니다.</div>
  <% end %>
</div> 
<!--더보기는 지금 구현하는 건 아닌 듯-->

<script>
  $('body').trigger('click');
</script> 