<div class = "inner-container">
    <%= render partial: "notifications/header" %>

    <%# @assignments.pluck(:question_id).uniq %>
    <% @assignments.each do |a| %>
        <%# @assignments. %>
    <% end %>
</div>