<% if current_user.id == c.author.id %>
    <span class="comment-like">좋아요 <span class="show-likes"><%= c.likes.count() %></span>개</span>
    <span class="btn-comment-delete hover-orange hover-pointer" data-url="<%=comment_path(c.id)%>">삭제</span>
<% end %>  
