.recover-link {
    display: inline-block;
    width: 250px;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    color: grey;
    cursor: pointer;    

    // &:hover {
    //     color: #F48462;
    // }
}