.recover-link {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: grey;
    cursor: pointer; 
     
    
    &:hover {
        color: #F48462;
        text-decoration: none;
    }
}

//for mobile version
@media only screen and (max-device-width: 500px) { 
    .recover-link {
        font-size: 40px !important;
    }
}