.recover-link {
    display: inline-block;
    width: 250px;
    text-align: left;
    font-family: 'Nanul Gothic', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: grey;
}