<div class="inner-container search-question">
    <%= render 'header', searchpath: @searchpath, query: @query %>
    <div class="results-div">
        <span class="result-tab">검색결과 <%=@results.count()%>건</span>
        <%= render "questions/layout", questions: @results %>
    </div>
</div>