<div class="inner-container">
    <!-- FIXME: 다 가져와서 항목별로 보여주는 걸루다가 -->
    <%= render 'header', searchpath: @searchpath, query: @query %>
    <% @results.reverse_each do |result| %> 
        
    <% end%>
</div>