<%= render 'search/search_header' %>
<% @results.each do |content| %>
    <div style="border: 1px solid black;">
        글쓴이: <%= content.author.username %><br>
        내용: <%= content.content %><br>
        태그: <%= content.tag_string %><br>
    </div>
<% end %>