.user-header {
    padding-top: 20px;

    #profile {
        // background-color: white;
        // border: 0.5px solid #dddddd;
        // height: 180px;
        // border-radius: 5px;
        // display: grid;
        // grid-template-columns: 180px calc(100% - 180px);
        margin-bottom: 20px;

        #profile__image {

            img {
                height:100px; 
                width:100px; 
                border-radius:50px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }         
        }

        

        #profile__content-div {
            text-align: center;
            margin-top: 2px;

            #profile__username-setting-div {
                margin-top: 3px;
                display: inline-flex;
                
                #username {
                    font-size: 20px;
                    font-weight: bold;
                    color: #4f4f4f;
                    padding-top: 4px;
                }
    
                #profile__setting {
                    
                    #profile__setting-btn{
                        width: 25px;
                        height: 25px;
                        margin-top: 5px;

                    }
                }
            }

            #user-message {
                margin-top: 2px;
                font-size: 17px;
                font-weight: 100;
                color: #4f4f4f;
            }

            #profile__friends-setting {
                margin-top: 13px;

                #profile__friends-setting-btn {
                    text-decoration: none;
                    border-radius: 9px;
                    border: 0.75px solid #F48462;
                    padding: 6px 10px 8px 12px;
                    color: #F48462;
                    font-size: 12px;
                }
            }
        }
        .image-upload {
            display: flex;
            justify-content: center;
            padding: 0;
            .image-container {
                display: inline-block;
                position: relative;
                .edit-profile-img {
                    height:100px; 
                    width:100px; 
                    border-radius:50px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    z-index: 1;
                    position: relative;
                }
                
                .camera-icon {
                    color: white;
                    cursor: pointer;
                    visibility: hidden;
                    font-size: 11px;
                }
            }
            .image-container:hover .edit-profile-img {
                -webkit-filter: grayscale(20%) contrast(25%);
                -moz-filter: grayscale(20%) contrast(25%);
                -o-filter: grayscale(20%) contrast(25%);
                -ms-filter: grayscale(20%) contrast(25%);
                filter: grayscale(20%) contrast(25%);
            }
            
            .image-container:hover .camera-icon {
                visibility: visible;
            }
        
            .image-container > input {
                display: none;
            }

            .image-container > label {
                left: 20px;
                top: 25px;
                position: absolute;
                display: block;
                margin-left: auto;
                margin-right: auto;
                z-index: 2;
            }
        }
    }


    .user-header__tab {
        width: 100%;
        display: inline-flex;
        // justify-content: space-around;
        // border-top: 1px solid #d7dae0;
        // padding-top: 10px;
        margin-top: 20px;


        .user-header__tab-el-left {
            background-color: white;
            width: 50%;
            height: 40px;
            border: 0.5px solid #dddddd;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-right: none;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        .user-header__tab-el-right {
            background-color: white;
            width: 50%;
            height: 40px;
            border: 0.5px solid #dddddd;
            border-top-right-radius:10px;
            border-bottom-right-radius:10px;
            display: flex;
            align-items: center;
            justify-content: center;


        }

        .user-header__tab-el-left, .user-header__tab-el-right {
            a {
            text-decoration: none;
            color: grey;
            font-size: 15px;
 
            }
            a.active {
                color: #F48462;
            }
        }
    }
}




