<div class = "inner-container">
    <%= render partial: "header" %>
    <% if noties.size > 0 %>
        <%= link_to "모두 읽음 표시", notification_read_all_path, id: "noti-index-read-text" %>
    <% end%>
    <%= render partial: "list", locals: {notifications: noties, from: "index"} %>
</div>