<div class="friend-list">
    <% @friends.each do |friend| %>
    <div class="friend-box">
        <div class="friend-box-userpage" onclick="window.location='/userpage/<%=friend.id%>';">
            <p><%= friend.username %></p>
            <%= image_tag friend.image.url, :style => "height:70px; width:70px; border-radius:35px;", class:"friend-box-image" %>
        </div>
        <div class="friend-box-question">
            <% friend.answers.reverse.each_with_index do |answer, i| %>
                <% if i < 3 %>
                    <div class="friend-box-question-el">
                        <%= link_to answer.question.content, answer_path(answer.id) %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>
</div>
