.assignment-content {
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 0.75px solid #bcbcbc;
    width: 200px;
    margin-left: 100px;
    margin-top: -25px;
    font-size: 15px;
}

.btn-do-assign {
    cursor: pointer;
    position: absolute;
    margin-top: -30px;
    right: 10px;
    padding: 8px;
    border: 0.75px solid #C08BEF;
    border-radius: 20px;
    color: #777777;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}


.assignment-content-el {
    float: left;
    display: block;
    height: 50px;
    padding: 10px;
    font-size: 16px;
}


.btn-assign, .btn-write {
    width: 32px;
    height: auto;
    margin: 3px;
    cursor: pointer;
}
