.assignment-content {
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 0.75px solid #bcbcbc;
    width: 200px;
    margin-left: 60%;
    margin-top: -10px;
    font-size: 15px;
}

.btn-do-assign, .btn-assign {
    cursor: pointer;
}