.question {
    text-align: center;
    margin-top: 200px;
}

.question h1 {
    font-size: 40px;
}

.question-el {
    list-style: none;
    margin-top: 16px;
    font-size: 20px;
}

.question-el a {
    text-decoration: none;
    color: black;
}