.today-question-box {
    width: 100%;
    margin-bottom: 100px;
}

.today-question-title {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 40px;
    text-align: center; 
    color: #F48462;
}

.question-el {
    font-size: 20px;
    display: flex; // postcss인가 젬 나중에 깔 것
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 10%;

    a {
        font-family: 'Nanum Gothic', sans-serif;
        text-decoration: none;
        color: black;
    }

    .question-content {
        // width: calc(100% - 84px);
        width: 100%;
        text-align: left;
        word-break: keep-all;
        font-size: 22px;
    }

    .question-btn {
        min-width: 84px;
    }
}
