.today-question-box {
    text-align: center;
    margin-top: 170px;
}

.today-question-title {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 40px;
}

.question-el {
    list-style: none;
    margin-top: 16px;
    font-size: 20px;
}

.question-el a {
    font-family: 'Nanum Myeongjo', serif;
    text-decoration: none;
    color: black;
}