.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -242px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    border-right: 0.75px solid #bcbcbc;
}

.sidenav.active {
    left: 0px;
}

.sidenav .nav-el, .nav-el a {
    padding: 12px 12px;
    text-decoration: none;
    font-size: 20px;
    color: #777777;
    display: block;
    transition: 0.3s;
}


.sidenav .nav-el:hover {
    color: #875EBC;
}

.nav-el.nav-profile{
    font-size: 14px;
    color: #777777;
    padding: 0px;
}

.nav-el.nav-log {
    border: 0.75px solid #bcbcbc;
    border-radius: 20px;
    width: 80px;
    padding: 4px;
    color: #777777;
    font-size: 14px;
    text-align: center;
}

.nav-el.nav-profile:hover {
    color: #777777;
}

.btn-exit {
    margin-left: 180px;
    padding: 0;
    border: none;
    background: none;
    color: #bcbcbc;
    font-size: 20px;
    cursor: pointer;

}