.noti-content {
    position: fixed;
    right: 5px;
    top: 45px;
    padding: 0px;
    border: 0.75px solid #bcbcbc;
    max-height: 250px;
    overflow-y: scroll;
    z-index: 1;
    background-color: white;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 3px;
}

::-webkit-scrollbar {
    width: 3px;
}

.noti-el a {
    text-decoration: none;
    color: #777777;
}

.noti-el {
    padding: 16px;
}

.noti-el:hover {
    background-color: #e8e8e8;
}
