.noti-content {
    position: absolute;
    right: 10px;
    top: 45px;
    margin-top: 15px;
    // border: 0.5px solid #bcbcbc;
    border-radius: 5px;
    max-height: 250px;
    overflow-y: scroll;
    z-index: 1;
    background-color: white;
    
}

::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 3px;
}

::-webkit-scrollbar {
    width: 3px;
}

.noti-el {
    padding: 16px;
    text-decoration: none;
    color: black;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 13px;
}

.noti-el:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

.noti-el.unread {
    background-color: #FAD4BC;
    color: black;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 13px;
    &:hover {
        background-color: rgb(247, 184, 146);

    }
}
