<% if current_user.id == c.author.id %>
    <span class="show-likes">좋아요 <%= Like.where(target_type: target_type, target_id: c.id).count() %>개</span>
    <span>삭제</span>
    <%
=begin%>
 <%= link_to "삭제", comment_path(c.id),
        method: :delete,
        data: { confirm: '댓글을 지우시겠습니까?'} %> 
<%
=end%>
<% end %>