<script>
    $(document).ready(function() {
        $("form").submit( function(e) {

            // console.log("hi")
            e.preventDefault();
            
            var form = $(this)

            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data) {
                    
                    //TODO: comment like, commment-info update
                    var html = `
                        <div class="comment-indent">
                            <div class = "comment-content">
                                <span>
                                    <img src='${data.imageurl}' 
                                    alt='' class = 'user-profile'>
                                    <a href='${data.path}' class='username'>
                                        ${data.username}
                                    </a>
                                    <span class= "content">${data.content} </span>
                                </span>
                            </div>
                        </div>
                    `

                    if(form.hasClass("comment")) {
                        html = "<div class='comment'>" + html
                    } else {
                        html = "<div class='comment-indent'>" + html
                    }

                    if(form.hasClass("reply")) {
                        form.parent().find(".comment-replies").append(html)
                    } else {
                        form.parent().find(".comments").append(html)
                    }

                    form.find(".prism-form__input").val('')
                },
                error: function(data) {
                    console.log("error")
                }
            })
        })
    })
</script>