<script>
    $(document).ready(function() {

        // like_ajax(".btn-answer-like")
        $("form").submit( function(e) {

            // console.log("hi")
            e.preventDefault();
            
            var form = $(this)

            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data) {
                    
                    //TODO: indent 해
                    //TODO: comment like, commment-info update
                    var html_str=
                    `
                            <div class = "comment-content">
                                <span>
                                    <img src='${data.imageurl}' 
                                    alt='' class = 'user-profile'>
                                    <a href='${data.path}' class='username'>
                                        ${data.username}
                                    </a>
                                    <span class= "content">${data.content} </span>
                                </span>
                            </div>
                        </div>
                    `

                    var btn_like = $(
                        `
                        <img src='/assets/icons/like-default-icon' 
                        class='btn-comment-like do-like'
                        data-url='${data.like_url}'
                        data-changed-src='/assets/icons/like-on-icon'
                        data-changed-url='${data.like_changed_url}'>
                        `
                    )

                    if(form.hasClass("comment")) {
                        html_str = "<div class='comment'>" + html_str
                    } else {
                        html_str = "<div class='comment-indent'>" + html_str
                    }

                    var html = $(html_str)
                    html.find(".comment-content").append(btn_like);

                    if(form.hasClass("reply")) {
                        form.parent().find(".comment-replies").append(html)
                    } else {
                        form.parent().find(".comments").append(html)
                    }

                    form.find(".prism-form__input").val('')
                    like_ajax(btn_like)
                },
                error: function(data) {
                    console.log("error")
                }
            })
        })
    })
</script>