<div class = "today-question-box">
    <h1 class="today-question-title">답변 수정하기</h1>
    <%= render 'form', answer: @answer %>
</div>
<br/>

<%= link_to '내 페이지로', profile_path(current_user.username) %></p>

</div>