<div class="inner-container">
  <%# <div class="prism-title"><h1>Friend Feed</h1></div> %>
  <%= render 'friend_feed_form', answers: @answers %>
</div>
<!--더보기는 지금 구현하는 건 아닌 듯-->
<%= render 'comment_script' %>
<%= render 'layouts/timestamp' %>