<div class = "today-question-box"> 
    <h1 class = "today-question-title">새로운 답변</h1>

    <%= render 'answers/form', answer: @answer %>
</div>


<script>
    $(document).ready(function() {
        textarea_init($('textarea'))
    })
</script>