.profile-button {
    background-color: #F48462;
    border-style: none;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mypage-buttons {
    margin-top: 15px;
}


.profile-content-box {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    list-style: none;
    margin-top: 16px;
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: left;
    font-weight: bold;
}

.profile-content-box input[type=text], .profile-content-box input[type=date] {
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.profile-content-box input[type=file] {
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;

    .upload {
        opacity: 0;       /*input type="file" tag 투명하게 처리*/
        position: relative;

    }
}

.profile-content-box label {
    text-align: left;
    font-size: 13px;
}

.account-delete-btn {
    float: right;
    font-size: 13px;
    color: gray;
    font-weight: normal;
    margin-top: 20px;
}
.image-upload {

    .edit-profile-img {
        height:100px; 
        width:100px; 
        border-radius:50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        //opacity: 0.2;
        
    }
    .camera-icon {
        color: white;
        cursor: pointer;
        width: 10px;
        height: 10px;
        visibility: hidden;
    }
    .image-container:hover .edit-profile-img {
        -webkit-filter: grayscale(70%);
        -moz-filter: grayscale(70%);
        -o-filter: grayscale(70%);
        -ms-filter: grayscale(70%);
        filter: grayscale(20%) contrast(45%);
    }
    
    .image-container:hover .camera-icon {
        visibility: visible;
    }

    .image-container > input {
        display: none;
    }
    
    .image-container > label {
        z-index: 2;
        // left: -70px;
        // top: -35px;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

