.profile-button {
    background-color: #F48462;
    border-style: none;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:focus {
        outline: none;
        fill: none;
    }
    
}

.mypage-buttons {
    margin-top: 15px;
}


.profile-content-box {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    list-style: none;
    margin-top: 16px;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    
    #edit-profile-message {
        text-align: left;
        padding: 10px;
        height: 60px;
    }

    .username-help {
        font-size: 12px;
        color: #F48462;
        padding: 0;
        margin: 0;
        font-weight: normal;
        margin-bottom: 5px;
    }
}

.profile-content-box input[type=text], .profile-content-box input[type=date] {
    width: 100%;
    height: 35px;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    &:focus {
        outline: none;
        fill: none;
    }
    border: 0.5px solid #dddddd;
}

// .profile-content-box input[type=file] {
//     width: 100%;
//     height: 30px;
//     font-size: 15px;
//     margin-bottom: 5px;
//     text-align: center;

//     .upload {
//         opacity: 0;       /*input type="file" tag 투명하게 처리*/
//         position: relative;

//     }
// }

.profile-content-box label {
    text-align: left;
    font-size: 15px;
}

.account-delete-btn {
    float: right;
    font-size: 13px;
    color: gray;
    font-weight: normal;
    // margin-top: 20px;
    &:hover {
        color: #F48462;
        text-decoration: none;
    }
}

.privacy-agreement-btn {
    float: left;
    font-size: 13px;
    color: gray;
    font-weight: normal;
    // margin-top: 20px;
    &:hover {
        color: #F48462;
        text-decoration: none;
    }
}

.mobile-spacing {
    display: none;       
}

//for mobile version
@media only screen and (max-device-width: 500px) {
    .profile-content-box {
        width: 90%;

        .username-help {
            font-size: 25px;
        }

        .form-inputs {
            font-size: 40px;
            text-decoration: none;
            text-align: center;
            color: black; 
    
            .error {
                font-size: 40px;
            }
        }
    
        .form-inputs input[type=date], .form-inputs input[type=text] {
            margin-bottom: 30px;
            height: auto;
            border: 2px solid #dddddd;
            border-radius: 10px;
            -webkit-appearance: none;
            outline: none;
            font-size: 40px;
            color: #313131;
            padding: 0;
        } 
    }

    .profile-content-box label {
        font-size: 35px;
    }

    .error_notification {
        display: none;
    }

    .profile-button {
        width: 95%;
        height: auto;
        font-size: 40px;
        padding: 40px 0;
        border-radius: 70px;
        margin-bottom: 30px;
    }

    .privacy-agreement-btn {
        float: right;
        font-size: 30px;
        color: gray;
        font-weight: normal;
        margin: 0;
        padding: 0;
        &:hover {
            color: #F48462;
            text-decoration: none;
        }
    }

    .account-delete-btn {
        float: right;
        font-size: 30px;
        color: gray;
        font-weight: normal;
        // margin-top: 50px;
        &:hover {
            color: #F48462;
            text-decoration: none;
        }
    }

    .mobile-spacing {
        display: block;
    }
}