// 글상자(?) 기본 형식 통일
@import 'variable.scss';

.prism-box {
    width: 1000px;
    margin: 20px;
    border: 1.5px solid $prism-box-gray;
    border-radius: 10px;
    padding: 10px;

    .prism-box__header {
        width: 100%;
        font-family: 'Nanum Gothic', sans-serif;
        // border-bottom: 1px dashed $prism-box-gray;

        i {
            float: right;
            color: $prism-box-gray;
        }
    }

    .prism-box__content {
        text-align: center;

        a {
            color: black;
            text-decoration: none;
            font-family: 'Nanum Myeongjo', serif;

            &:hover {
                text-shadow: 2px 2px gray;
            }

            &:visited {
                color: black;
            }
        }

        .answer {
            font-family: 'Nanum Gothic', sans-serif;
        }
    }

    .prism-box__footer {
        font-family: 'Nanum Gothic', sans-serif;
        vertical-align: bottom;
        width: 100%;
        // border-top: 1px dotted $prism-box-gray;
        text-align: right;
    }
}