// 글상자(?) 기본 형식 통일
@import 'variable.scss';

.prism-box {
    width: calc(100% - 20px);
    margin: 20px 0px;
    border: 1.5px solid $prism-box-gray;
    border-radius: 10px;
    padding: 10px;

    .prism-box__header {
        width: 100%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 14px;
        padding-bottom: 10px;

        i {
            float: right;
            color: $prism-box-gray;
        }
    }

    .prism-box__content {
        text-align: center;
        border-top: 1px dashed $prism-box-gray;
        border-bottom: 1px dashed $prism-box-gray;
        padding: 10px 0px;
        line-height: 140%;

        a {
            color: black;
            font-weight: bold;
            text-decoration: none;
            font-family: 'Nanum Myeongjo', serif;

            &:hover {
                text-shadow: 2px 2px gray;
            }

            &:visited {
                color: black;
            }
        }

        .answer {
            font-family: 'Nanum Gothic', sans-serif;
        }
    }

    .prism-box__footer {
        font-family: 'Nanum Gothic', sans-serif;
        vertical-align: bottom;
        width: 100%;
        text-align: left;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 5px;

        i {
            float: right;
            color: gold;
        }
    }
}