// 글상자(?) 기본 형식 통일
@import 'variable.scss';

.prism-box {
    background-color: white;
    width: calc(100% - 20px);
    margin: 20px 0px;
    border: 0.5px solid #dddddd;
    border-radius: 10px;
    padding: 10px;

.prism-box_question{
    text-align: center;
    position: relative;

    a {
        color: black;
        text-decoration: none;
        font-family: 'Nanum Gothic', serif;
        font-size: 18px;
        cursor: pointer;
        font-weight: bold;
    }

    i {
        padding-left: 10px;
        top: 15px;
        color: gold;
        position: absolute;
    }

}

    .prism-box__header {
        width: 100%;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 14px;
        padding-bottom: 5px;

        i {
            float: right;
            color: $prism-box-gray;
        }

        a {
            font-family: 'Nanum Gothic', sans-serif;
        }

    }

    .prism-box__content {
        // text-align: center;
        // border-top: 1px dashed $prism-box-gray;
        // border-bottom: 1px dashed $prism-box-gray;
        padding: 0px 40px;
        line-height: 140%;
        text-align: center;

        .question {
            font-family: "Nanum Gothic", sans-serif;
            font-size: 18px;
        }

        a {
            color: black;
            text-decoration: none;
            font-family: "Nanum Gothic", sans-serif;
            cursor: pointer;
            font-weight: bold;

        }

        .answer {
            font-family: 'Nanum Gothic', sans-serif;
        }

        .date {
            font-family: 'Nanum Gothic', sans-serif;
            font-size: 12px;
        }
    }

    .prism-box__footer {
        font-family: 'Nanum Gothic', sans-serif;
        vertical-align: bottom;
        width: 100%;
        text-align: left;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 5px;
        position: relative;

        .btn-drawer {
            width: 30px;
            height: auto;
            float: right;
            padding-bottom: 10px;
        }

        a {
            color: black;
            text-decoration: none;
            font-family: 'Nanum Gothic', sans-serif;
            font-size: 12px;

            &:hover {
               color: #F48462;
            }

        }
    }
}