// 폼 기본 형식 통일
@import './variable.scss';

.friend-comment {
    padding-top: 10px;
    padding-left: 50px;

}

.prism-form-friend.reply, .prism-form-general.reply {
    display: none;
}

.prism-form-friend, .prism-form-general {
    .prism-form__input {
        width: calc(100% - 100px);
        height: 25px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 3px;
        // border: 0.5px solid $prism-box-gray;
        border: none;
        background-color: #f9f9f9;
        border-radius: 20px;
        margin-bottom: 10px;

        &:focus {
            outline: none;
            fill: none;
        }
    }

    .prism-form__button {
        visibility: hidden;
        width: 70px;
        height: 30px;
        border-color: #bcbcbc;
        border-radius: 20px;
        background-color: white;
        border: 0.5px solid $prism-box-gray;
        font-size: 12px;
        color: #aaaaaa;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }

    .comment-info-alert {
        color: gray;
        font-size: 10px;
        padding-left: 5px;
        padding-top: 0px;
    }

}