// 폼 기본 형식 통일
@import './variable.scss';

.prism-form {
    .prism-form__input {
        width: calc(100% - 100px);
        height: 25px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 3px;
        border: 1.1px solid $prism-box-gray;
        border-radius: 10px;
        margin-bottom: 10px;

        &:focus {
            outline: none;
            fill: none;
        }
    }

    .prism-form__button {
        width: 70px;
        height: 30px;
        border-color: #bcbcbc;
        border-radius: 20px;
        font-size: 12px;
    
    }
}