    
<div class="prism-box-new-post">
    <div class="prism-box__content">
        <%= form_tag('/posts') do %>
            <%= text_area_tag :content, "", class: "new-answer-field",  placeholder: "나는 지금", autofocus: true, "data-enable-grammarly": "false" %>

            <%= button_tag "저장", class: "answer-button"%>
        <% end %>
    </div>
</div> 

<%= render 'layouts/textarea_script' %>