// Place all the styles related to the announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.announcement-title {
    font-weight: bold;
    margin-bottom: 15px;
}