/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//나눔스퀘어 light font
@font-face {
    font-family: 'NanumSquareOTFLight';
    src: url(app/assets/fonts/NanumSquareOTFLight.otf) format("opentype")
}

//나눔스퀘어 regular font
@font-face {
    font-family: 'NanumSquareOTFRegular';
    src: url(app/assets/fonts/NanumSquareOTFRegular.otf) format("opentype")
}

//한둥근체 바탕
@font-face {
    font-family: 'WONBatangOTFR';
    src: url(app/assets/fonts/WONBatangOTFR.otf) format("opentype")
}

//위의 세개 폰트들 로드 안됨ㅠㅠ

// 헤더랑 컨테이너는 일단 여기다 함..!
.prism-header {
    // position: fixed;
    width: 100%;
    height: 40px;

    a.nav-el.nav-long {
        right: 0px; // 안됨
    }
}

.prism-container {
    // margin: 40px 200px 0px 200px;
    margin: 0px 200px;
}

