/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Iropke Batang', serif;
}

// 헤더랑 컨테이너는 일단 여기다 함..!
.prism-header {
    // position: fixed;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;

    // a.nav-el.nav-long {
    //     float: right; // 안됨
    // }
    .prism-header__left-box {
        display: inline-block;
        left: 0px;
        width: 100px;
    }

    .prism-header__right-box {
        display: inline-block;
        right: 0px;
        width: 100px;
    }
}

.prism-container {
    // margin: 40px 200px 0px 200px;
    margin: 0px 200px;
}
