/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.adoor-header {
    width: 100%;
    display: inline-block;

    .logo {
        float: left;
        width: 180px;
        height: auto;
    }

    .nav {
        padding-top: 25px;

        .nav-left{
            float:left;

            .nav-el {
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
                color: #777777;
                padding-left: 25px;
                padding-right: 25px;
    
                &:hover {
                    color: #F48462;
                }
            }

            .nav-el.active {
                color: #F48462;;
            }
        }

        .nav-right {
            float: right;
            margin-right: 25px;
            
            .nav-el {
                display: inline-block;
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
                color: #777777;
                padding-left: 25px;
                padding-right: 25px;
                
        
                &:hover {
                    color: #F48462;
                }
            }

            .log-in {
                color: #F48462;
            }
            .btn-noti {
                padding-top: 2px;
                float: right;
                width: 20px;
                height: auto;
                display: block;
                cursor: pointer;
            }

            .my-page-btn img {
                float: right;
                display: block;
                width: 25px;
                height: 25px;
                border-radius:15px;
                cursor: pointer;
                margin-right: 20px;
            }

        }
    }
    
}

#prism-container {
    width: 60%;
    margin: 0 auto;
    .prism-title {
        width: 100%;
        text-align: center;
        color: #F48462;
        &:hover {
            color: #F48462;
         }
    }
}

a {
    text-decoration: none;
}

.answer {
    font-family: "Nanum Gothic", serif;
    white-space: pre-line;
}

.username{
    color: black;
    vertical-align: +6px;
}
body {margin: 0px; background-color: #f9f9f9;}

div.background {
    // width: 100%;
    background-image: url('intro.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;

    div.intro-container {
        background-color: #3B2763;
        opacity: 0.8;
        width: 50vw;
        height: 100vh;
        float: right;
        display: flex;
        justify-content: center;

        div.intro-box {
            height: 100vh;
            margin: 0 5vw;

            div {
                text-align: center;
            }

            div.prism {
                color: white;
                font-family: 'Merriweather', serif;
                font-size: 100px;
                font-weight: bold;
                margin-top: 20vh;

            }

            div.beer {
                font-size: 28px;
                color: rgb(180, 180, 180);
                margin-top: 5vh;
                // font-family: "Nanum Gothic";
            }

            div.start-1 {
                margin-top: 8vh;
                margin-left: 25px;
                background-color: white;
                border-radius: 30px;
                height: 60px;
                width: 260px;
                text-align: center;
                // vertical-align: -100px;
                a {
                    // position: absolute;
                    // top: 50%; left: 50px;
                    position: relative;
                    top: 25%;
                    color: slateblue;
                    font-size: 28px;
                    font-family: "Nanum Gothic";
                }
            }

            div.start-2 {
                margin-top: 25px;
                a {
                    // display: inline-block;
                    height: 40px;
                    width: 116px;
                    border-radius: 20px;
                    font-family: "Nanum Gothic";
                    position: relative;
                    top: 50%;
                    padding: 10px 30px;
                    // position: absolute;
                    // top: 50%; left: 50%;

                    &:nth-child(1) {
                        border: 1px solid white;
                        margin-right: 7.5px;
                        color: white;
                    }
                    &:nth-child(2) {
                        background-color: rgb(180, 180, 180);
                        margin-left: 7.5px;
                    }
                }
            }
        }
    }
}


.inner-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    //for each question feed
    .question {
        text-align: center;
        
        .question-content{
            position: relative;
            font-family: 'Nanum Gothic', sans-serif;
            text-decoration: none;
            color: black;
            font-size: 22px;

        }

        .btn-drawer {
            width: 30px;
            height: auto;
            float: right;
            padding-bottom: 10px;
        }

        .btn-like {
            width: 26px;
            height: auto;
            float: right;
            padding-top: 2px;
        }
    }
}