/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.question {
    text-align: center;
    margin-top: 200px;
}

.question li {
    list-style: none;
}

/* Sidenav */

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -242px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    border-right: 0.75px solid #bcbcbc;
}

.sidenav.active {
    left: 0px;
}

.sidenav .nav-el {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #777777;
    display: block;
    transition: 0.3s;
}

.sidenav .nav-el:hover {
    color: black;
}

.nav-el.nav-profile, .nav-el.nav-log {
    font-size: 14px;
    color: #777777;
    padding: 8px 8px 8px 32px;
    
}

.nav-el.nav-profile:hover {
    color: #777777;
}

.btn-exit {
    margin-left: 180px;
}

/* Noti */
.btn-noti {
    position: fixed;
    right: 5px;
    top: 5px;
}

.noti-content {
    position: fixed;
    right: 5px;
    top: 40px;
    padding: 10px;
    border: 0.75px solid #bcbcbc;
}

/* Assignment */
.assignment-content {
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 0.75px solid #bcbcbc;
    width: 200px;
    margin-left: 55%;

}

