.comment {
    font-size: 14px;    
}

.comment-indent {
    padding-left: 27px;
    padding-bottom: 10px;
    font-size: 14px;    
}

.comment, .comment-indent {
    .btn-comment-like {
        width: 20px;
        height: auto;
        float: right;
        margin-left: 10px;
    }
    
    .comment-content {
        display:flex; 
        justify-content: space-between; 
        align-items:center;
    
        .user-profile {
            height:20px; 
            width:20px; 
            border-radius:10px; 
            margin-right: 2px;
    
        }
        
        .username {
            font-size: 14px;
            font-weight: bold;
    
        }
        
        .content {
            vertical-align: 6px;
    
        }
    }
    
    .comment-info {
        padding-left: 27px;
        font-size: 10px;
        color: #777777;
        display: inline-block;
    
        span {
            padding-right: 10px;
        }
    }

}