.friend-comments-nav.selected, .anonymous-comments-nav.selected {
    font-weight: bold;
    color: #4f4f4f;
}

.friend-comments-nav, .anonymous-comments-nav {
    color: gray;
}

.comment {
    font-size: .9rem; 
    padding-top: 5px;
    padding-bottom: 5px;   
}

.comment-indent,.reply {
    padding-left: 27px;
    padding-top: 5px;
    padding-bottom: 5px;   
    font-size: .9rem;    
}

.comment, .comment-indent, .reply {

    .comment-content {
        display: grid;
        grid-template-columns: 26px auto 40px;

        // grid-template-columns: repeat(26px auto-fit, minmax(40px, auto));
        // grid-auto-columns: max-content;
    
        .user-profile {
            height:20px; 
            width:20px; 
            border-radius:10px; 
            margin-right: 2px;
        }
        
        .username {
            font-size: .9rem;
            font-weight: bold;
        }

        .lock-icon {
            width: 20px;
            height: auto;
            margin: 0px;
            padding: 0px;
        }

        .replier-name {
            color: #F79277;
        }

        
        .comment-text {
            line-height: 20px;

            // .content {
            //     display: inline-block;
            //     word-break: break-all;
            // }
        }

        .likes {
            text-align: right;

            .num-of-likes {
                color: #F48462;
                cursor: pointer;
                padding: 3px;
                margin-right: 5px;
                font-size: .9rem;
            }
    
            .num-of-likes.zero {
                display: none;
            }
        
            .btn-comment-like {
                width: 20px;
                height: auto;
                float: right;
                cursor: pointer;
            }
    
        }

    }
    
    .comment-info {
        padding-left: 27px;
        font-size: .8rem;
        color: #777777;
        display: inline-block;

        .comment-like {
            padding: 0 5px 0 0;
        }
        
        .btn-comment-delete, .time {
            padding-right: 5px;
        }

    }

}


//for mobile version
@media only screen and (max-device-width: 500px) { 

    .friend-comments-nav, .anonymous-comments-nav {
        font-size: 1.1rem;
    
    }
    .comment, .comment-indent, .reply {

        font-size: 1.3rem; 
    
        .comment-content {
            grid-template-columns: 30px auto 50px;
    
            .user-profile {
                zoom: 1.2;
                
            }
    
            .lock-icon {
                width: 20px;
                height: auto;
    
            }
    
            .username {
                font-size: 1.3rem;
    
            }

            .likes {
                .num-of-likes {
                    font-size: 1.1rem;
                    padding-top: 3px;

                }

                .btn-comment-like {
                    zoom: 1.3;
                    padding-top: 2px;
                
                }
            }
        }
    
        .comment-info {
            font-size: 1rem;
            margin-left: 4px;
        }

    }
}
