.friend-comments-nav.selected, .anonymous-comments-nav.selected {
    font-weight: bold;
    color: #4f4f4f;
}

.friend-comments-nav, .anonymous-comments-nav {
    color: gray;
}

.comment {
    font-size: 14px; 
    padding-top: 5px;
    padding-bottom: 5px;   
}

.comment-indent,.reply {
    padding-left: 27px;
    padding-top: 5px;
    padding-bottom: 5px;   
    font-size: 14px;    
}

.comment, .comment-indent, .reply {

    .comment-content {
        display: grid;
        grid-template-columns: 26px auto 30%;
    
        .user-profile {
            height:20px; 
            width:20px; 
            border-radius:10px; 
            margin-right: 2px;
        }
        
        .username {
            font-size: 14px;
            font-weight: bold;
            vertical-align: middle;
        }

        .lock-icon {
            width: 22px;
            height: auto;
            margin: 0px;
            padding: 0px;
            vertical-align: middle;
        }

        .replier-name {
            color: #F79277;
        }

        
        .comment-text {
            line-height: 20px;
        }

        .likes {
            text-align: right;
            .num-of-likes {
                vertical-align: 8px;
                font-family: 'Nanum Gothic', sans-serif;
                color: #F48462;
                cursor: pointer;
                padding: 3px;
                margin-right: 5px;
                font-size: 12px;
                vertical-align: middle;
            }
    
            .num-of-likes.zero {
                display: none;
            }
        
            .btn-comment-like {
                width: 20px;
                height: auto;
                float: right;
                cursor: pointer;
            }
    
        }

    }
    
    .comment-info {
        padding-left: 27px;
        font-size: 10px;
        color: #777777;
        display: inline-block;

        .comment-like {
            padding: 0 5px 0 0;
        }
        
        .btn-comment-delete, .time {
            padding-right: 5px;
        }

    }

}