// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#edit-background {
    display: none;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: scroll; /* Enable scroll if needed */

    #btn-edit-exit {
        margin-top: 130px;
        float: right;
        margin-right: 29%;
        background: none;
        color: white;
        font-size: 20px;
        border: none;
        &:hover {
            color: #e8e8e8;
        }

        outline: none;
    }

    #edit-box {
        background-color: white;
        width: 42%;
        margin: auto;
        margin-top: 160px;
        margin-bottom: 100px;
        padding: 2.5%;
        border-radius: 10px;
        box-shadow: 2px 2px 30px #cccccc;
        .question {
            font-size: 18px;
        }
    }

    #friends-box {
        display: none;
        background-color: white;
        width: 24%;
        margin-left: auto;
        margin-top: 160px;
        margin-bottom: 100px;
        padding: 2%;
        border-radius: 10px;
        overflow-y: scroll;
        height: 400px;
        box-shadow: 2px 2px 30px #cccccc;
    }
}