<p><%= @resource.email %>님, 안녕하세요.</p>

<p>어도어 비밀번호 변경을 요청하셨나요? 아래 링크를 클릭하여 비밀번호를 변경하세요.</p>

<p><%= link_to '비밀번호 변경', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>비밀번호 변경을 요청하지 않으셨다면 이 메일을 무시해주세요.</p>
<p>위 링크에 접속하지 않으면 비밀번호는 변경되지 않습니다.</p>
