.intro-tc-el {
    font-size: 14px;
    color: black;
    &:hover {
        color: #F48462;
     }
     line-height: 10px;
}

.intro-tc-container {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    padding-top: 10px;
    padding-right: 10px;
}

.intro-tc {
    position: fixed;
    right: 50px;
    top: 130px;
}

.intro-title {
    text-align: center;
    color: grey;
}

.intro-img {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.intro-img-small {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.intro-img-smallest {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.intro-container {
    margin-left: auto;
    margin-right: auto; 
    line-height: 30px;
    text-align: center;
    margin-top: -50px;
    font-size: 15px;

}

.intro-topic {
    color: #F48462;

}

.img-side {
    float: left;
}

.img-caption {
    color: grey;
}

.intro-accent {
    //font-weight: bold;
    //color: rgb(245, 154, 126);
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid #F48462;
    padding-bottom: 2px;
}

.intro-link {
    font-weight: bold;
    &:hover {
        color: #F48462;
     }
     color: black;
}

.intro-change-color {
    color: #F48462;
}