.question-box {
    list-style: none;
    margin-top: 16px;
    font-size: 20px;
}

.question-content {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.new-answer-field{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
    text-align: center;
    width: 80%;
    height: 200px;
}