.question-box {
    list-style: none;
    margin-top: 16px;
    font-size: 20px;
}

.question-content {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.new-answer-field{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
    text-align: center;
    width: 80%;
    height: 350px;
}

.answer-button {
    background-color: #C08BEF;
    border-radius: 30px;
    width: 200px;
    padding: 15px 20px 15px 20px;
    color: white;
    font-size: 20px;
    text-align: center;
}