.sign-box {
    margin-top: 100px;
    width: 100%;
}

.sign-title {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
    color: #F48462;
}

.sign-content-box {
    list-style: none;
    margin-top: 16px;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.form-inputs {
    font-family: 'Nanum Gothic', serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.form-inputs input[type=email], .form-inputs input[type=password], .form-inputs input[type=text] {
    font-family:  'Nanum Gothic', sans-serif;
    margin-bottom: 15px;
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
    font-size: 16px;
    color: #313131;
}

.form-input {
    font-family:  'Nanum Gothic', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    
}

.orange-btn {
    background-color: #F48462;
    border-style: none;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    border: none;
}

.white-btn {
    background-color: white;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    color: grey;
    font-size: 20px;
    text-align: center;
    font-family: 'Nanum Gothic', serif;
    border: none;
}