.error_notification {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #F48462;
    padding-bottom: 10px;
    font-weight: normal;
}

.error {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color:  #F48462;
    font-weight: normal;

}