.sign-box {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 40px;
}

.sign-title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    color: #F48462;
}

.password-change-title {
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    color: #F48462; 
}

.sign-content-box {
    list-style: none;
    margin-top: 16px;
    font-size: 20px;
}

.form-inputs {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.form-inputs input[type=email], .form-inputs input[type=password], .form-inputs input[type=text] {
    margin-bottom: 15px;
    width: 350px;
    padding: 10px;
    // border: none;
    border: 0.5px solid #dddddd;
    border-radius: 10px;
    -webkit-appearance: none;
    outline: none;
    font-size: 14px;
    color: #313131;
}

.form-input {
    font-size: 40px;
    margin-bottom: 10px;
}

.orange-btn {
    background-color: #F48462;
    border-style: none;
    border-radius: 30px;
    width: 300px;
    height: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    display: table-cell;
    &:focus {
        outline: none;
    }
}

.white-btn {
    margin-bottom: 10px;    
    background-color: white;
    border-radius: 30px;
    border: 0.5px solid #dddddd;
    width: 300px;
    height: 50px;
    color: grey;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.kakao-btn {
    margin: 12px 0px 35px 0px;
    // background-color: #FFEB00;
    // border-radius: 30px;
    // border: 0.5px solid #dddddd;
    // width: 300px;
    // height: 50px;
    // color: #3C1E1E
    // font-size: 20px;
    // text-align: center;
    // cursor: pointer;
    // &:focus {
    //     outline: none;
    // }
}

//for mobile version
@media only screen and (max-device-width: 500px) {

    .sign-title {
        font-size: 50px;
    }

    .error_notification {
        display: none;
    }
    .form-inputs {
        font-size: 40px;
        text-decoration: none;
        text-align: center;
        color: black; 

        .error {
            font-size: 40px;
        }
    }
    
    .form-inputs input[type=email], .form-inputs input[type=password], .form-inputs input[type=text] {
        margin-bottom: 30px;
        width: 95%;
        height: auto;
        padding: 40px 20px;
        border: 0.5px solid #dddddd;
        border-radius: 10px;
        -webkit-appearance: none;
        outline: none;
        font-size: 40px;
        color: #313131;

    }

    .orange-btn, .white-btn {
        width: 95%;
        height: auto;
        font-size: 40px;
        padding: 40px 0;
        border-radius: 70px;
        margin-bottom: 30px;
    }


    .kakao-btn {
        width: 60%;
        height: auto;
        margin-bottom: 30px;
    }


    .password-change-title {
        font-size: 40px;
    }

    .modal-dialog {
        max-width: 90%;
    }
}