<% color = user_id + feed_id %>
<% r = color * color *color % 256 %>
<% g = (r * color) % 256 %>
<% b = (g * color) % 256 %>
<button class="anonymous-btn" style="background-color: <%='rgb(' + r.to_s + ',' + g.to_s + ',' + b.to_s + ')' %>; "></button>