<% color = ((user_id + question_id) * 1000005).to_s(16) %>
<%= puts color %>
<button style="height:20px; width:20px; border-radius:10px; margin-right: 5px; background-color: <%='#' + color%>;"></button>