<% color = ((user_id + answer_id) * 1040000).to_s(16) %>
<%= puts color %>
<button style="height:20px; width:20px; border-radius:10px; margin-right: 5px; background-color: <%='#' + color%>; margin-bottom: 5px; "></button>