<html>
<head>
<style>

#top-btn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 35px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #a3a19f;
    opacity: 0.8;
    color: white;
    padding: 7px 10px;
    border-radius: 18px;
    cursor: pointer;
}

#top-btn:hover {
    background-color: #F48462;
}
</style>
</head>
<body>

<button onclick="topFunction()" id="top-btn"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("top-btn").style.display = "block";
    } else {
    document.getElementById("top-btn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

</body>
</html>